@using Microsoft.AspNetCore.Identity
@using VotingApp.Business.Constants
@using VotingApp.Business.Models
@using VotingApp.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<ViewParticipantInParty>
@{
    ViewBag.Title = "Гласуване";
}
<h1>Кандидати</h1>

@{
    List<ViewParticipantInParty> listOfParticipants = new List<ViewParticipantInParty>();
        foreach (var participant in Model)
        {
            listOfParticipants.Add(participant);
        }

        var sortedList = listOfParticipants.OrderBy(x => x.Party).ToList();
}

@if (User.IsInRole(Roles.Admin))
{
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" style="width:auto"
           asp-controller="Admin" asp-action="AddNewParticipant">
                Добави кандидат
            </a>
            <a class="btn btn-primary" style="width:auto"
           asp-controller="Admin" asp-action="AddNewParty">
                Добави партия
            </a>
        </div>
    </div>
}

@if (Model.Any())
{
    if (User.IsInRole(Roles.Admin))
    {
        foreach (var participant in sortedList)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Партия: @participant.Party
                </div>
                <div class="card-body">
                    <h5 class="card-title float-start"> @participant.FirstName @participant.LastName</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" style="width:auto"
           asp-controller="Admin" asp-action="EditParticipant" asp-route-id="@participant.Id">
                        Редактирай
                    </a>
                    <a class="btn btn-danger" style="width:auto"
           asp-controller="Admin" asp-action="ConfirmDelete" asp-route-id="@participant.Id">
                        Изтрий
                    </a>
                </div>
            </div>
        }
    }
    else if (User.IsInRole(Roles.User))
    {
        User user = await UserManager.GetUserAsync(User);
        if (user.HasVoted)
        {
            foreach (var participant in sortedList)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Партия: @participant.Party
                    </div>
                    <div class="card-body">
                        <h5 class="card-title float-start"> @participant.FirstName @participant.LastName</h5>
                        <a class="btn btn-primary float-end disabled"
           asp-controller="User" asp-action="ConfirmVote" asp-route-id="@participant.Id" >
                            Гласувай
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            foreach (var participant in sortedList)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Партия: @participant.Party
                    </div>
                    <div class="card-body">
                        <h5 class="card-title float-start"> @participant.FirstName @participant.LastName</h5>
                        <a class="btn btn-primary float-end"
           asp-controller="User" asp-action="ConfirmVote" asp-route-id="@participant.Id">
                            Гласувай
                        </a>
                    </div>
                </div>
            }
        }
    }
    else
    {
        foreach (var participant in sortedList)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Партия: @participant.Party
                </div>
                <div class="card-body">
                    <h5 class="card-title"> @participant.FirstName @participant.LastName</h5>
                </div>
            </div>
        }
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Participants Yet
        </div>
    </div>
}